In [1]:
import pandas as pd

In [16]:
data = pd.read_csv('testData.csv')
data.head()

,QNumber,Choice,Preposition,Question,FullQ,Particpants,Correct,EnglishL1Model,MandarinL1Model,MandarinEnglishL2Model
0,1,A,on,Now? you don't eat these all ___ once,Now? you don't eat these all on once,0.045455,0,0.274720,0.214543,0.275903
1,1,B,at,Now? you don't eat these all ___ once,Now? you don't eat these all at once,0.625000,1,0.276695,0.356372,0.283101
2,1,C,like,Now? you don't eat these all ___ once,Now? you don't eat these all like once,0.193182,0,0.273671,0.214543,0.266302
3,1,D,as,Now? you don't eat these all ___ once,Now? you don't eat these all as once,0.136364,0,0.174914,0.214543,0.174694
4,2,A,with,So you're happy ___ your work?,So you're happy with your work?,0.761364,1,0.280310,0.250000,NaN

In [17]:
scores = data[['EnglishL1Model', 'MandarinL1Model', 'MandarinEnglishL2Model']]
scores.head()

   EnglishL1Model  MandarinL1Model  MandarinEnglishL2Model
0        0.274720         0.214543                0.275903
1        0.276695         0.356372                0.283101
2        0.273671         0.214543                0.266302
3        0.174914         0.214543                0.174694
4        0.280310         0.250000                     NaN

### 1. The correlation of the scores with all choices (100 values)

In [18]:
scores.corr()

,EnglishL1Model,MandarinL1Model,MandarinEnglishL2Model
EnglishL1Model,1.000000,0.265238,0.985030
MandarinL1Model,0.265238,1.000000,0.390395
MandarinEnglishL2Model,0.985030,0.390395,1.000000

### 2. The correlation of the scores with the correct choices for each question (25 values)

In [21]:
scores_correct = data.loc[data['Correct'] == 1][['EnglishL1Model', 'MandarinL1Model', 'MandarinEnglishL2Model']]
scores_correct.head()

    EnglishL1Model  MandarinL1Model  MandarinEnglishL2Model
1         0.276695         0.356372                0.283101
4         0.280310         0.250000                     NaN
11        0.321984         0.250000                0.303868
14        0.303989         0.250000                     NaN
19        0.303989         0.250000                     NaN

In [22]:
scores_correct.corr()

,EnglishL1Model,MandarinL1Model,MandarinEnglishL2Model
EnglishL1Model,1.000000,0.272184,0.976039
MandarinL1Model,0.272184,1.000000,0.445020
MandarinEnglishL2Model,0.976039,0.445020,1.000000

### 3. The correlation of the scores with the top choice for each question (the choice made by most of the participants)

In [39]:
top_choices_rows = [1, 7, 10, 13, 18, 20, 26, 29, 32, 39, 42, 46, 49, 55, 58, 63, 66, 70, 73, 78, 80, 87, 89, 93, 98]

In [42]:
scores_top_choice = data.iloc[top_choices_rows][['EnglishL1Model', 'MandarinL1Model', 'MandarinEnglishL2Model']]
scores_top_choice.head()

    EnglishL1Model  MandarinL1Model  MandarinEnglishL2Model
1         0.276695         0.356372                0.283101
7         0.272366         0.250000                     NaN
10        0.189888         0.250000                0.194485
13        0.192459         0.250000                     NaN
18        0.192459         0.250000                     NaN

In [43]:
scores_top_choice.corr()

,EnglishL1Model,MandarinL1Model,MandarinEnglishL2Model
EnglishL1Model,1.000000,0.290142,0.974440
MandarinL1Model,0.290142,1.000000,0.404677
MandarinEnglishL2Model,0.974440,0.404677,1.000000

# Analysis

- Based of the Pearson's correlation results above, the English Model's predictions are more correlated to the Mandrin English Model's predictions, and less to the Mandarin Model's predictions.
- Based on the data cleaning, words falling under ADV, CONJ, DET, and POS were not used to represent sentences.
- Some of the words prepositions such at for the statements 1 and 23, and with statement 2, were top choices of the model and were the correct choices.
- The English Model predicted correctly by approximately 60% the top choice of the model which was also the top correct choice by the participants.

**Opinions**
- The advantages of this modelling approach is that it is a faster and easier way of doing an NLP task since it uses some sort of transfere learning of the word embeddings.
- It also allows the modeler to have more control over how the learning is done, compared to when using a Deep Learning approach. This might also be a disadvantage because you spend alot of time doing the data cleaning plus modelling.
- I also found the correlations section a little bit biased because, even from judging from the results, the Mandarin Model was definitely going to be less correlated to the English model, while the Mandaring English model more, because we used some English data for its vectors.
- All in all, it's a better approach if your aim is learning how to do most of the work by hand.